{% extends 'base.html' %}

{% block head %}
<title>Displaying Scrapped Data</title>
{% endblock %}

{% block body %}
<div class="content">
    <h4 >TITLE:{{title}}</h4>
    <h4>RATING:{{ratingValue}}</h4>
    <h4>COUNT:{{ratingCount}}</h4>
    <h4>TITLENAME:{{titleName}}</h4>
    <h4></h4>
</div>
</br>
<br/>

  <center>
    <h2 >USER REVIEWS</h2>
     <div class="col-md-12" style="margin: 0 auto; margin-top:25px;">
        <table class="table table-bordered" style="width:50%">
            <thead>
                <tr>
                  <th class="text-center" scope="col" >Comments</th>
                </tr>
            </thead>
          <tbody>
	    {% for review in reviews %}
    	        <tr>
                <td>{{review}}</td>
            	</tr>
      	    {% endfor %}
    		  </tbody>
 		    </table>
     </div>
  </center>
{% endblock %}